.paragraph_style {
    color: rgb(88, 77, 77);
    font-family: 'Palatino-Roman', 'Palatino', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(88, 77, 77);
    font-family: 'Palatino-Roman', 'Palatino', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 0.90;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: rgb(212, 210, 202);
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent url(backgroundimage_1.jpg) no-repeat scroll center center;
    opacity: 0.61;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'Palatino-Roman', 'Palatino', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'Baskerville', 'Times New Roman', serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_646_46 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Normal_External_646_91 {
    position: relative;
}
.Normal_External_646_43 {
    position: relative;
}
.Normal_External_588_49 {
    position: relative;
}
.Normal_External_646_36 {
    position: relative;
}
.Normal_External_646_44 {
    position: relative;
}
.Normal_External_646_70 {
    position: relative;
}
.Title {
    color: rgb(88, 77, 77);
    font-family: 'CourierNewPS-BoldMT', 'Courier New', monospace;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 0.90;
}
.graphic_generic_title_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_620_43 {
    position: relative;
}
.graphic_shape_layout_style_default_External_350_31 {
    position: relative;
}
.graphic_shape_layout_style_default_External_638_383 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_638_382 {
    position: relative;
}
.graphic_shape_layout_style_default_External_638_353 {
    position: relative;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(212, 210, 202);
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_686_49 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget8 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget2 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget5 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget2 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget9 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget11 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget1 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget11 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget6 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget5 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget9 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget3 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget0 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget9 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget6 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget3 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget0 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget7 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget8 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget10 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget10 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget11 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget4 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget4 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget1 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget3 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget1 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget7 a:hover {
    color: rgb(224, 92, 0);
    text-decoration: none;
}
#widget8 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget7 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget10 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
#widget5 a {
    color: rgb(119, 45, 35);
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget6 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget2 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
